body {
    padding: 5%;
}
#results {
    padding-top: 20px;
}
#results p {
    margin-bottom: 0;
}
#results a {
    display: block;
    padding-top: 10px;
    padding-bottom: 20px;
}
.results ul li:first-of-type {
    display: none;
}
#results #screenshot {
    width: 100%;
}
img#loader {
    margin: 0 auto;
    display: block;
    height: 50px;
}